* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 450px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
 
  /* align-items: center; */
  gap: 10px;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}

.form input,
.form textarea,
.form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  outline: none;
}

.gender-box,
.checkbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lang-box {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background: #0b7dda;
}

.err {
  color: red;
  font-size: 12px;
  margin-top: -5px;
}

.table-info{
    display: flex;
    justify-content: center;
    /* align-items: ; */
}

.table {
  width: auto;
  border-collapse: collapse;
  margin-top: 25px;
}

.table th,
.table td {
  border: 1px solid #999;
  padding: 8px;
}

.table th {
  background: #e6e6e6;
}
