<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS tempalate </title>
</head>
<body>
    <%- include("nav")%>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae necessitatibus eum repellendus, eos autem, dignissimos qui vel reiciendis quia consectetur dolor dolore officiis soluta veniam provident nemo cum maxime. Aut eveniet necessitatibus id. A molestiae expedita sed asperiores quasi? Provident, quae id odit excepturi facere autem quaerat a accusantium, dolore nobis nisi adipisci! Delectus velit deleniti blanditiis. Beatae rerum excepturi magnam dolorem ipsa eius minus molestiae, labore tenetur minima dolorum laborum! Labore, quo distinctio sapiente provident, enim veritatis esse odio quasi sint eum aliquam doloribus. Necessitatibus, dicta similique laborum laboriosam quod, optio officiis exercitationem dolores explicabo deserunt, qui vitae maxime. Unde molestiae ea esse nobis nostrum, dolorum, deleniti nam veritatis quis quibusdam vel itaque, repellendus quo accusantium reprehenderit sed tempora architecto exercitationem. Voluptatem non nostrum magni libero sequi explicabo vero quia ratione ea deleniti perferendis eum officiis eligendi nihil, cum fugit ipsam pariatur aspernatur in? Placeat, tenetur molestias eius voluptates similique facilis eos alias et. Iusto, delectus repellat totam ratione cupiditate libero reprehenderit tempore deleniti voluptates beatae ut odit explicabo quasi voluptatem sunt ad officiis, a expedita error animi, nulla corrupti doloremque vel est? Voluptatibus, fugit iure. Ullam necessitatibus praesentium vero dicta laudantium minus consequuntur quam alias vitae, neque repudiandae, odit earum harum. Labore, nisi magni hic ea vero rem a harum repellat quod quo laudantium natus quia vel ullam alias aut sunt distinctio, fugit incidunt quae reprehenderit ipsa corrupti dicta officiis! Aperiam debitis incidunt quasi fugit similique facilis magni, esse impedit deleniti iure quaerat iste dolor? Ut facilis praesentium doloremque voluptatibus mollitia optio exercitationem aliquam illum quis non ducimus consequatur reiciendis explicabo expedita laboriosam, blanditiis, saepe perspiciatis iste possimus. Commodi ipsam quo eligendi facilis optio saepe, iusto suscipit numquam, repudiandae nemo sed, cum officiis facere est. Fugiat ullam soluta dolores laboriosam suscipit eveniet velit, corporis tempora, quae tempore quo.</p>
</body>
</html>