*{
padding: 0;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}
.card{
    border-radius: 5px;
    background-color: black;
    color: white;
    gap: 30px;
    text-transform: capitalize;
    
}
.card img{
    width: 250px;
    height: 250px;
}