<!DOCTYPE html>
<html lang="en">

<%- include("head") %>

  <body>
    <%- include("nav") %>

    <div class="container">
      <h1>Welcome to Student Result Portal</h1>

      <a href="/reg">
        <img
          class="portal-img"
          src="https://www.shutterstock.com/image-vector/student-portal-isometric-colored-illustration-260nw-2567901423.jpg"
          alt="Student Portal Image"
        />
      </a>
    </div>
  </body>
</html>
